{% load el_pagination_tags %}
{% load static %}
{% paginate posts %}
{% for post in posts %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-profile' post.author.username %}">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted }}</small>
                <button class="star btn btn-outline-warning" id="star{{ post.id }}" href="#" post-id={{ post.id }} >Star</button>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content|truncatechars:280 }}</p>
        </div>
    </article>
{% endfor%}
<script type="text/javascript" src="{% static 'blog/js/star.js' %}"></script>
{% show_more %}